hr {
  width: 90%;
  margin-right: 10%;
}
.admin-form {
  padding-right:4%;
  display:grid;
  grid-template-columns: auto auto auto;
}
.single-chart {
  width:40%;
}
.MuiAppBar-positionStatic {
  transofrm:0;
}
