#header-contents {
    display:flex;
    color : #fff;
    padding: 5px 0 5px 5px;
    align-items: center;
    margin-left:5px;
  }
  h4 {
    color: #7a80b4;
    margin: 0;
  }

  #acc-controls {
    display:flex;
    position: fixed;
    top: auto;
    right: 5px;
      svg {
        font-size:35px;
        margin-right:5px;
        display:flex;
        padding: 5px;
      }
  } 